
* { padding: 0; margin: 0; }

html, body{
    height: 100% !important;
}

/*---VARIABLES---*/
:root{
    --main_color:  rgb(37, 72, 124);
    --secondary_color: rgba(255, 115, 0, 0.829);
}

.main_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-flex-direcition: row;
    background-color: white; 
}

input{
    accent-color: var(--main_color);
}

.navbar_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80px;
    box-shadow: 0px 2px 1.5px 0px gray;
    padding: 10px;
}

.logo{
    height: 100%;
}

.navbar{
    font-size: 20px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}  

.navbar > li{
    padding-top: 8px;
    list-style-type: none;
    min-height: 35px;
    margin-left: 10px;
}

.main-dashboard{
    background-color: var(--main_color);
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-flex-direcition: column;
}

.section{
    background-color: aqua  ;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-flex-direcition: row;
}

.dashboard-card {
    cursor: pointer;
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    background-color:rgb(252, 246, 237);
    width: 300px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.37); 
    /*border: 3px solid rgb(105, 105, 105);*/
}

.dashboard-card > img{
    margin-top: 30px;
    width: 140px;
}

.dashboard-card > .descr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    letter-spacing: 1.5px;
    margin-top: 30px;
    background-color: var(--secondary_color);
    font-size: 20px;
    text-align: center;
    font-family: fantasy;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(248, 248, 248);
    transition: 0.2s;
    }

.dashboard-card:hover .descr{
    cursor: pointer;
    font-size:25px;
}


.searcher{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /*box-shadow: 0px 2px 1.5px 0px gray;*/
    height: 80px;
    margin-top: 20px;
}

.searcher > select{
    letter-spacing: 1.5px;
    border-style: none;
    /*border-color: var(--main_color);*/
    /*border-width: 1.8px;*/
    background: white;
    text-align: center;
    font-weight: 600;
    height: 80%;
    width: 15%;
    margin: 5px;
    font-size: 20px;
    border-bottom: 3px solid var(--main_color);
    transition: font-size 0.2s;
    transition: 0.2s ease-out;
}

.searcher > select:hover{
    border-left: 3px solid var(--main_color);
    border-right: 3px solid var(--main_color);
    border-top: 3px solid var(--main_color);
    color: var(--main_color);
    font-size: 21px;
}

.btnBuscar{
    letter-spacing: 1.5px;
    box-shadow: 2px 4px 0px 0px rgb(110, 110, 110);
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--main_color);
    color: white;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 15px;
    transition: 0.2s ease-out;
}

.btnBuscar:hover{
    font-size: 21px;
    background-color: rgb(53, 85, 224);
    box-shadow: 6px 8px 0px 0px gray;
}


a{
   text-decoration: none;
   margin: 0;
   padding: 0;
   transition: 0.8;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: black;
}


a:hover{
    color: rgb(52, 116, 255);
    font-size: 21px;
}


/*
.Ini{
   
}

.Nos{
    
}

.Con{
   
}

.pen{
   
}
*/
.jumbotron_slider{ 
    margin-top: 10PX;
    background-color:darkcyan;
    height: 400PX;
}

.jumbotron_slider > img{ 
    height:100%;
    width: 100%;
}

@media only screen and (max-width: 1200px) {

    .searcher{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }

    .searcher > select{
        width: 10%;
        text-align: center;
        font-weight: 600;
        height: 50px;
        width: 200px;
        font-size: 18px;
        margin-top: 20px;
    }

    .searcher > select:hover{
        font-size: 18px;
    }
    .searcher > .btnBuscar{
        letter-spacing: 3px;
        margin-top: 20px;
        padding: 20px;
    }

}