
* { padding: 0; 
    margin: 0; }

html, body{
    height: 100% !important;
}

/*---VARIABLES---*/
:root{
    --main_color: rgb(1, 11, 63);
    --secondary_color: rgba(255, 115, 0, 0.829);
    --detail-color-blue: rgb(4, 39, 146);
    --detail-color-red: rgba(219, 43, 57);
    --detail-color-yellow: rgb(255, 173, 9);
    --beige-color: rgba(240, 206, 160);
    --font-color-darkgray: rgb(100, 100, 100);
}

/* PLANTILLA BUTTON*/
.btn{
    letter-spacing: 1.5px;
    box-shadow: 2px 4px 0px 0px rgb(99, 99, 99);
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}

input{
    accent-color: var(--main_color);
}

/* CONTENEDOR DE NAVEGADOR MAIN */
.navbar_container{
    background-color: var(--main_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 8%;
    /*box-shadow: 0px 2px 1.5px 0px gray;*/
    padding: 10px;
}

.logo{
    height: 100%;
    width: 15%;
}

.logo img{
    height: 50%;
    width: 50%;
}

.navbar{ 
    font-weight: 700;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

.navbar li{
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    list-style-type: none;
    height: auto;
    margin-left: 10px;
    background-color: var(--secondary_color);
    transition: 0.2s;
    cursor: pointer;
}

li:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}

.navbar li a{
    color: white;
    text-decoration: none;
 }
 
 a:link{
     text-decoration: none;
 }
 
 a:visited{
     color: black;
 }
 
 
/* ^^CONTENEDOR DE NAVEGADOR MAIN^^ */
.btnCross{
    margin: 10px 10px 0px auto;
    font-size: 15px;
    background-color: var(--secondary_color);
    color: white;
    transition: 0.2s ease-out;
    width: 180px;
}

.btnCross:hover{
    transform: scale(1.04);
    background-color: rgb(236, 162, 50);
    box-shadow: 6px 8px 0px 0px gray;
}

/*TITULO PARA LAS PÃGINAS UBICADO EN ADMINISTRADOR*/
.titulo-nav {
    color: white;
    font-size: 3vw;
    font-weight: 600;
}

/*CONTENEDOR PRINCIPAL DE TODA LA PAGINA LO USA TODOS*/
.main_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-flex-direcition: row;
    background-color: white; 
}

/*CONTENEDOR PRINCIPAL DE ADMINISTRADOR*/
.admin-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

/*BARRA DONDE ESTA EL USUSARIO*/
.profile-container{
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.profile-img-container{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;    
}

.profile-img-container > img{
    cursor: pointer;
    height: 1%;
    width: 10%;
}

.profile-name{
    background-color: blue;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard{
    filter:grayscale(10px);
    background-color: var(--detail-color-yellow);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-flex-direcition: column;
}

.section{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-flex-direcition: row;
}

.dashboard-card {
    cursor: pointer;
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);/*var(--detail-color-yellow);*/
    width: 33%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.37); 
    /*border: 3px solid rgb(105, 105, 105);*/
}

.dashboard-card > img{
    cursor: pointer;
    margin-top: 30px;
    width: 140px;
}

.dashboard-card > .descr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    letter-spacing: 1.2px;
    margin-top: 30px;
    background-color: var(--main_color);
    font-size: 1.5vw;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(248, 248, 248);
    transition: 0.2s;
    }

.dashboard-card:hover .descr{
    cursor: pointer;
    font-size:22px;
}

.searcher{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /*box-shadow: 0px 2px 1.5px 0px gray;*/
    height: 80px;
    margin-top: 20px;
}

.searcher > select{
    letter-spacing: 1.5px;
    border-style: none;
    /*border-color: var(--main_color);*/
    /*border-width: 1.8px;*/
    background: white;
    text-align: center;
    font-weight: 600;
    height: 80%;
    width: 15%;
    margin: 5px;
    font-size: 20px;
    border-bottom: 3px solid var(--main_color);
    transition: font-size 0.2s;
    transition: 0.2s ease-out;
}

.searcher > select:hover{
    border-left: 3px solid var(--main_color);
    border-right: 3px solid var(--main_color);
    border-top: 3px solid var(--main_color);
    color: var(--main_color);
    font-size: 21px;
}


.btnSearcher{
    font-size: 20px;
    background-color: var(--main_color);
    color: white;
    margin-left: 15px;
    transition: 0.2s ease-out;
}

.btnSearcher:hover{
    font-size: 21px;
    background-color: rgb(53, 85, 224);
    box-shadow: 6px 8px 0px 0px gray;
}


/*
.Ini{
   
}

.Nos{
    
}

.Con{
   
}

.pen{
   
}
*/


@media only screen and (max-width: 1200px) {

    .searcher{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }

    .searcher > select{
        width: 10%;
        text-align: center;
        font-weight: 600;
        height: 50px;
        width: 200px;
        font-size: 18px;
        margin-top: 20px;
    }

    .searcher > select:hover{
        font-size: 18px;
    }
    .searcher > .btnBuscar{
        letter-spacing: 3px;
        margin-top: 20px;
        padding: 20px;
    }

}